header {
  background: #BBBBBB;
  padding:20px;
}

nav li {
  display:inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform:uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav {
  position:absolute;
  top: 110px;
  right: 0;
}

.caixa {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}
